/* -------------- COMMON & RESET ---------------- */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: arial, sans-serif;
  font-size: 14px;
  color: #202124;
}

h1,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.link {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* -------------- HEADER ---------------- */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

  height: 48px;
  padding: 5px 15px;
}

.site-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.site-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-color: transparent;
  background-color: transparent;
  border-radius: 50%;
}

.site-nav-menu-btn:hover,
.site-nav-menu-btn:focus {
  background-color: rgba(60, 64, 67, 0.08);
}

.menu-icon {
  fill: #5f6368;
}
.auth-btn {
  padding: 6px 23px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-size: 14px;

  background-color: rgb(26, 115, 232);
  color: rgb(255, 255, 255);
}

/* -------------- MAIN ---------------- */

main {
  height: calc(100% - 142px);
}

.section {
  padding-top: 100px;
  text-align: center;
}

.search-input-wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  max-width: 584px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 32px;

  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  padding: 5px 8px 5px 14px;

  cursor: pointer;
}

.search-input-wrap:hover,
.search-input-wrap:focus {
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.search-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 12px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: rgb(154, 160, 166);
}
.search-input {
  min-width: 400px;
  overflow: hidden;
  border: 1px solid transparent;
  outline: #fff;
  margin-left: 14px;
}

.search-input-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-keyboard-icon {
  stroke: rgb(154, 160, 166);
  fill: rgb(154, 160, 166);
  color: rgb(154, 160, 166);
}

.search-input-btn {
  border-color: transparent;
  background-color: transparent;
}

.search-buttons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  margin-bottom: 28px;
}
.search-button {
  padding: 8px 16px;

  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(248, 249, 250);
  color: rgb(60, 64, 67);
  border-radius: 4px;
}

.section-text {
  font-size: 12px;
}

.search-button:hover,
.search-button:focus {
  border: 1px solid #dfe1e5;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

/* -------------- FOOTER ---------------- */

.footer {
  width: 100%;
  background-color: rgb(248, 249, 250);
  color: rgb(32, 33, 36);
}
.footer-text {
  padding: 15px 30px;
  border-bottom: 1px solid rgb(218, 220, 224);
}
.footer-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
}
.footer-link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.footer-link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
