/* -------------- COMMON & RESET ---------------- */

body {
  /* background-color: var(--header-bg); */
  color: #202124;

  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.link {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* -------------- HEADER ---------------- */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

  height: 48px;
}
.site-nav {
}
.site-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.site-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav-link {
}
.site-nav-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-color: transparent;
  background-color: transparent;
  border-radius: 50%;
}

.site-nav-menu-btn:hover,
.site-nav-menu-btn:focus {
  background-color: rgba(60, 64, 67, 0.08);
}

.menu-icon {
  fill: #5f6368;
}
.auth-btn {
  padding: 6px 23px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-size: 14px;

  background-color: rgb(26, 115, 232);
  color: rgb(255, 255, 255);
}

/* -------------- MAIN ---------------- */

.section {
  padding: 198px;
  text-align: center;
}

.search-form {
}

.search-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
  cursor: pointer;
}

.search-input-wrap:hover,
.search-input-wrap:focus {
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.search-icon {
}
.search-input {
}
.search-input-btn {
}
.search-input-icon {
}
.search-buttons-wrap {
}
.search-button {
}
.section-text {
}

/* -------------- FOOTER ---------------- */

.footer {
}
.footer-text {
}
.footer-link-wrap {
}
.footer-link-list {
}
.footer-link-item {
}
